<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    <!-- Table Basic -->
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">User List</h4>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>User_Mail</th>
                  <th>User_password</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index" [class.active]="i == currentIndex">
                  <td #email>{{user.email}}</td>
                  <td>{{user.password}}</td>
                  <td> <button type="button" class="btn btn-outline-primary" (click)="modalOpenVC()" rippleEffect>
                      Delete
                    </button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/ Table Basic -->

    <!-- Basic Alerts end -->
  </div>
</div>