.testProblem {
    body {
        font: 16px Calibri;
    }

    table {
        border-collapse: separate;
        border-top: 1px solid grey;
    }

    td {
        border-top-width: 0;
        white-space: nowrap;
        margin: 0;
    }

    div {
        width: 600px;
        overflow-x: scroll;
        margin-left: 5em;
        overflow-y: visible;
        padding-bottom: 1px;
    }

    .headcol {
        position: absolute;
        width: 5em;
        left: 0;
        top: auto;
        border-right: 0 none #000;
        border-top-width: 3px;
        margin-top: -3px;
    }

    .long {
        background: #FF0;
    }
}